body {
    background-color: black;
}

p {
    font-family : Oswald Light;
    font-style : normal;
    color : #BFBFBF;
}

a {
    text-decoration : none;
}

.nav_top {
    font-size : 10px;
    padding-right : 5px;
}

.nav_bot {
    padding-right : 25px;
    margin-top : 1px;
    font-size: 10px;
    color : #BFBFBF;
}

.nav_top:hover {
    color : white;
}

.nav_bot:hover {
    color : white;
}

#nav_bot_mar {
    margin-left: 35vw;
}

#main_logo {
    width: 90px;
    height: 30px;
    margin-left: 46vw
}

#cart_counter {
    font-family: Oswald Regular;
    font-weight: 200;
    color : white;
    padding-bottom : 3px;
}

#currency_button {
    background : none;
    border: none;
    color : #BFBFBF;
    padding-left: 0px;
}

#currency_selector {
    font-family : Oswald Light;
    font-style : normal;
    font-size : 10px;
    color : #BFBFBF;
    background : none;
    border : none;
    margin-left : 28vw;
}